<!DOCTYPE HTML>
<html lang="en-US" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Redis with Sinatra Sample</title>

  <style type="text/css">
    .container {
        width: 800px;
        margin: 0 auto;
    }
    form[action=users] input, form[action=users] select {
        display: block;
        width: 300px;
        margin-bottom: 20px;
    }
    .error { border: red solid 1px }
  </style>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript">
    $(function(){
        $('.deactivate-user').click(function(e){
            e.preventDefault();
            var user_id = $(this).data('user_id');
            var url = 'users/' + user_id;
            $.ajax({
                url:  url,
                type: 'DELETE',
                success: function() {
                    window.location = '/';
                }
            })
        })
    })
  </script>
</head>
<body>

<section class="container">
  <h1>Create User</h1>
  <% unless @user.errors.full_messages.empty? %>
      <div class="error">
        <%= @user.errors.full_messages[0] %>
      </div>
  <% end %>
  <%= partial(:form, locals: { user: @user }) %>
  <br><br><br>
  <h1>User List</h1>
  <%= partial(:users_list, locals: { users: @users }) %>

</section>

</body>
</html>